//Gray
$pivotalGray: #4a4a4a;
$darkestGray: #333;
$darkGray: #666;
$backgroundGray: #9999991f;
$headerGray: #4F575E;
$lightGray: #999;
$lightestGray: #DDDDDD;
//Blue
$pivotalBlue: #5081b2;
$primaryBlue: #256188;
$secondaryBlue: #CADCE4;
$pivotalBlueHover: #286287;
//Orange
$pivotalOrange: #f39e40;
$pivotalOrangeHover: #ee7d00;
$primaryOrange: #ed7d1a;
//Green
$pivotalGreen: #56AD55;
$pivotalGreenHover: #448A44;
//Gold
$featureIcon: #d4af37;


//Not working. Need to investigate further.