//Gray
$pivotalGray: #4a4a4a;
$unselectedGray: #999;
$selectedGray: #333;
$backgroundGray: #9999991f;
//Blue
$pivotalBlue: #5081b2;
$primaryBlue: #256188;
$secondaryBlue: #CADCE4;
$pivotalBlueHover: #286287;
//Orange
$pivotalOrange: #f39e40;
$pivotalOrangeHover: #ee7d00;
$primaryOrange: #ed7d1a;
//Green
$pivotalGreen: #56AD55;
$pivotalGreenHover: #448A44;


//Not working. Need to investigate further.