html {
	position: relative;
	height: 100%;
}

body {
  margin: 0 auto;
  font-family: "open-sans", sans-serif, AppleEmoji, SegoeUIEmoji, EmojiOne;;
  font-size: 14px;
  color: $pivotalGray;
}

a {
  text-decoration: none;
  cursor: pointer;
}

.toggle-dropdown {
  cursor: pointer;
}

.hidden {
	display: none;
}

.btn {
  padding: 4px 8px;
  border-radius: 3px;
  text-decoration: none;
}

.btn:hover {
  text-decoration: none;
}

.btn-blue {
  background-color: $pivotalBlue;
  color: #ffffff;
}

.btn-blue:hover {
  background-color: $pivotalBlueHover;
}

.btn-white {
  background-color: white;
  color: $pivotalBlue;
  border: 1px solid $pivotalBlue;
}

.btn-orange {
  background-color: $pivotalOrange;
  color: #ffffff;
}

.btn-orange:hover {
  background-color: $pivotalOrangeHover;
}

.btn-green {
  background-color: $pivotalGreen;
  color: #ffffff;
}

.btn-green:hover {
  background-color: $pivotalGreenHover;
}

.btn-white {
  background-color: white;
  color: $darkGray;
  border-color: white;
}

.btn-white:hover {
  background-color: $lightestGray;
  border-color: $lightestGray;
}

.gray-background {
  background-color: #F3F4F4;
}

/*
	Font Elements
*/
h1 {
  color: black;
  font-size: 28px;
  font-weight: 600;
  line-height: 36px;
  margin: 0 0 8px;
}

h2 {
  color: black;
  font-size: 20px;
  font-weight: 300;
  line-height: 30px;
  margin: 0 0 24px;
}

h3 {
  color: black;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  margin: 0 0 16px;
}

p {
  font-size: 16px;
  line-height: 24px;
  margin: 0 0 24px;
}

/*
	Header Rules
*/

/*
	Images
*/

.arrow-down {
  width: 0; 
  height: 0; 
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  
  border-top: 5px solid $secondaryBlue;
  opacity: 0.4;
}

/*
  Modal
*/
.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 10;
}

.modal-child {
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: white;
  transform: translate(-50%, -50%);
  border-radius: 4px;
}

/*
	Inputs
*/

.form-input-label {
  color: #888;
  font-weight: 300;
  line-height: 15px;
  text-align: left;
  letter-spacing: 0.5px;
  
}

.form-input-field {
  padding: 14px 8px;
  font-size: 16px;
  width: 100%;
  outline: 0;
  box-sizing: border-box;
  margin-bottom: 24px;
  margin-top: 8px;
  border-radius: 3px;
  border: 1px solid $lightGray;
}

.form-input-field:focus {
  border-color: #4A90E2;
  box-shadow: 0 0 4px 0 #4A90E2;
}



/* Media Queries */