@media (min-width: 992px) {
  .header__link {
    margin-left: 24px;
  }
}

.main-nav {
  background-color: white;
  border-bottom: 1px solid #c3d4e5;
  display: flex;
  justify-content: center;
}

.main-nav-container {
  display:flex;
  justify-content: space-between;
  align-items: center;
}

.main-nav-container .logo {
  width: 210px;
}

.header-link {
  padding: 4px 8px;
  position: relative;
}

.header-link:last-child {
  margin-left: 8px; 
}