

//Header and Main Nav
.dashboard-header {
  background-color: $primaryBlue;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-height: 36px;
  border-bottom: 1px black solid;
}

.dashboard-header .logo {
  width: 116px;
  padding: 2px 0px;
  border: 0px;
}

//toggle-dropdown
.toggle-dropdown {
  position: relative;
}

.toggle-dropdown-label {
  cursor: pointer;
  background-color: transparent;
  color: $secondaryBlue;
  display: block;
  font-size: 11px;
  font-weight: 600;
  margin: 0;
  padding: 0 14px 0 2px;
  text-overflow: ellipsis;
  text-transform: uppercase;
}

.toggle-dropdown-label > div {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.toggle-dropdown-label > div .arrow-down {
  margin-left: 5px;
}

.toggle-dropdown ul {
  display: none;
}

.toggle-dropdown li:hover {
  background-color: $lightGray;
}

input[type=checkbox]{
  display: none;
}
.toggle-dropdown input[type=checkbox]:checked ~ ul {
    display: block;
    position: absolute;
    background-color: white;
    border-radius: 2px;
    border: $lightGray;
    box-shadow: 0 4px 12px $pivotalGray;
    width: 198px;
    font-size: 12px;
    font-weight: 400;
}

.toggle-dropdown input[type=checkbox]:checked ~ ul li {
  padding: 2px 16px;
}

.project-nav input[type=checkbox]:checked ~ ul {
  top: 36px;
}

.user-profile-dropdown input[type=checkbox]:checked ~ ul {
  top: 28px;
  right: 18px;
}

.user-nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.user-nav .fa-bell {
  color: $secondaryBlue;
  opacity: .4;
  font-size: 14px;
}

//Dashboard

.dashboard-tabs-container {
  height: 55px;
  background-color: white;
  display: flex;
  align-items: flex-end;
}

.dashboard-tabs-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.dashboard-tabs {
  height: 55px;
  font-size: 16px;
  font-weight: 400;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}

.dashboard-tab {
  padding: 0px 16px 16px 16px;
  margin-bottom: 0px;
  color: $lightGray;
}

.dashboard-tabs > .active-tab {
  color: $darkestGray;
  border-bottom: 3px solid $primaryOrange;
}

.dashboard-tabs > .inactive-tab {
  padding-bottom: 19px;
}

.dashboard-tabs > .inactive-tab:hover {
  border-bottom: 3px solid $lightGray;
  padding-bottom: 16px;
}

.dashboard-action-tabs-btn {
  font-size: 14px;
  text-align: center;
  padding: 8px 11px;
  line-height: 1.5;
  box-sizing: border-box;
  margin: 8px 5px;
}

// Projects Pane
.projects-pane-container {
  background-color:$backgroundGray;
  min-height: 506px;
}

.projects-pane {
  padding-top: 30px;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.projects-top-menu {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  width: 100%;
  margin-bottom: 60px;
}

.projects-searchbar {
  border-radius: 2px;
  border: 1px solid #ccc;
  background-color: white;
  height: 35px;
  width: 90%;
}

.searchbar-input {
  color: $darkestGray;
  font-size: 14px;
  font-weight: normal;
  padding: 8px 50px 8px 0px;
}

.projects-searchbar .fa-search {
  padding: 8px;
}

.projects-quick-dropdown {
  padding: 10px;
  min-width: 115px;
}
.projects-quick-dropdown > .fa-chevron-down {
  padding-left: 8px;
}

.projects-quick-dropdown:hover {
  background-color: $lightGray;
  border-radius: 2px;
  border-width: 1px;
  border-color: transparent;
}

// My Projects
.my-projects > h1 {
  font-weight: 600;
  margin-right: 6px;
  font-size: 16px;
  color: $headerGray;
  text-align: left;
}

.my-projects > h1 > span {
  margin-right: 4px;
}

// Project
.project-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.project-container {
  background-color: white;
  border: 1px solid $lightestGray;
  height: 140px;
  width: 440px;
  margin: 10px;
  flex: 50%;
}

.project-header {
  border-bottom: 2px solid $lightestGray;
  display: flex;
  justify-content: space-between;
}

.project-title {
  line-height: 26px;
  font-size: 16px;
  font-weight: 600;
  color:$headerGray;
  max-width: 250px;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 8px;

}

.project-title:hover {
  text-decoration-line: underline;
  color:$pivotalBlueHover;
}

.project-header-actions .fas, .project-header-actions .far {
  padding: 12px;
}

.project-header-actions .fas:hover, .project-header-actions .far:hover {
  background-color: $lightestGray;
}

.analytics {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 378px;
  height: 73px;
  padding: 10px 30px;
}

@media (min-width: 962px) {
  .projects-pane, .dashboard-tabs-wrapper {
    width: 930px;

  }
}