footer {
  color: black;
  border-top: 1px solid #c3d4e5;
  padding: 28px 0px;
  display: flex;
  justify-content: center;
  font-size: 24px;
  
}

footer p, .footer-info-link .fab, .footer-info-link .far  {
  font-size: 24px;
  margin: 14px 0px;
}

.footer-info-link .fab, .footer-info-link .far {
  color: $pivotalBlue;
  padding-left: 8px;
}