footer {
  color: black;
  border-top: 1px solid #c3d4e5;
  padding: 18px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer p, .footer-info-link .fab, .footer-info-link .far  {
  font-size: 18px;
  margin: 4px 0px;
}

.footer-info-link .fab, .footer-info-link .far {
  color: $pivotalBlue;
  padding-left: 8px;
}