.main-nav {
  background-color: white;
  border-bottom: 1px solid #c3d4e5;
  display: flex;
  justify-content: center;
}

.main-nav-container {
  display:flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 16px;
  padding-top: 16px;
  height: 33px;
}

.main-nav-container .logo {
  width: 210px;
}

.logo-small {
  height: 28px;
  width: 28px;
  padding: 2px 4px 0px 2px;
  margin: 2px;
}

.project-nav-toggle-title {
  font-size: 16px;
  font-weight: normal;
  text-transform: none;
}

.main-nav-options {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.main-nav-options .main-nav-dropdown, .main-nav-options .header-link {
  color: $pivotalBlue;
  text-decoration: none;
  font-size: 14px;
  padding: 4px 8px;
}

.main-nav-options > li:last-child {
  margin-left: 8px; 
  margin-right: 0px;
}

.menu-lg {
  display: none;
}

// Dropdown Menu
.main-nav-dropdown {
  position: relative;
}

.main-nav-dropdown > span {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.dropdown-arrow {
  height: 16px;
  margin-left: 4px;
  width: 16px;
}

.main-nav-dropdown > ul {
  position:absolute;
  background-color: #ffffff;
  border-radius: 0 0 4px 4px;
  box-shadow: 0 4px 12px $pivotalGray;
  top: 50px;
  width: 60vw;
  right: 1px;
  z-index: 1;
  display: flex;
  flex-direction: column;
}

.main-nav-dropdown > ul li {
  overflow: hidden;
  height: 0;
  transition: height 100ms linear 250ms;
  text-align: right;
  background-color: #ffffff;
}

.main-nav-dropdown:hover > ul li {
  height: 35px;
  font-size: 14px;
  text-align: left;
  line-height: 35px;
  margin: 8px 12px 8px 8px;
  padding-right: 8px;
  text-align: right;
  background-color: #ffffff;
}

.main-nav-dropdown > ul li:hover {
  background-color: #c3d4e5;
  border-radius: 4px;
  color: $pivotalBlue; 
  margin: 8px 12px 8px 8px;
  padding-right: 8px;
  text-align: right;
}

.user-nav > button {
  cursor: pointer;
  background-color: transparent;
  color: $secondaryBlue;
  display: block;
  font-size: 11px;
  font-weight: 600;
  margin-right: 10px;
  text-overflow: ellipsis;
  text-transform: uppercase;
  border-radius: 0.2rem;
  border: 0.1rem solid $pivotalBlue;
  padding: 0.25rem;
}

.user-nav > button:hover {
  background-color: $secondaryBlue;
  color: $pivotalBlue;
}

// About Developer

.about-developer-wrapper .fas {
  font-size: 1.5rem;
  text-align: right;
  margin: 1rem 1rem 0 0;
}

.about-developer-wrapper {
  width: 75vw;
  font-size: 1.5rem;
}

.about-developer-wrapper .button-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.developer-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.developer-info > div {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.developer-info > span {
  width: 80%;
  margin: 2rem 0rem;
}

.developer-info a {
  text-decoration: underline;
  color: $pivotalBlue;
}

.developer-info img {
  border-radius: 0.2rem;
  width: 80%;
}

// Media Queries


@media screen and (min-width: 992px) {
  .menu-md {
    display: none;
  }
  .menu-lg {
    display: block;
  }

  .main-nav-dropdown > ul {
    left: -10px;
    top: 51px;
    width: 200px;
  }

  .main-nav-dropdown:hover > ul li {
    text-align: left;
  }

  .main-nav-dropdown > ul li {
    line-height: 20px;
    text-align: left;
    vertical-align: center;
  }

  .about-developer-wrapper {
    width: 60vw;
    font-size: 1.25rem;
  }

  .developer-info {
    flex-direction: row;
    margin-bottom: 3rem;
  }

  .developer-info > div {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .developer-info > span {
    width: 50%;
    margin: 1rem 3rem 1rem 0;
  }

  .developer-info img {
    width: 60%;
  }
}
    