@import "../base/colors";

a.global-banner span {
  font-weight: normal;
}

a.global-banner {
  display: block;
  padding: 10px 0;
  color: white;
  text-align: center;
  background: $pivotalBlue;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
}

a.global-banner:hover {
  color: white;
  background: #286287;
}

.main-nav {
  background-color: white;
  border-bottom: 1px solid #c3d4e5;
  display: flex;
  justify-content: center;
}

.main-nav-container {
  display:flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 16px;
  padding-top: 16px;
  height: 33px;
}

.main-nav-container .logo {
  width: 210px;
}

.main-nav-options {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.main-nav-options .main-nav-dropdown, .main-nav-options .header-link {
  color: $pivotalBlue;
  text-decoration: none;
  font-size: 14px;
  padding: 4px 8px;
}

.main-nav-options > li:last-child {
  margin-left: 8px; 
  margin-right: 0px;
}

.menu-lg {
  display: none;
}

// Dropdown Menu
.main-nav-dropdown {
  position: relative;
}

.main-nav-dropdown > span {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.dropdown-arrow {
  height: 16px;
  margin-left: 4px;
  width: 16px;
}

.main-nav-dropdown > ul {
  position:absolute;
  background-color: #ffffff;
  border-radius: 0 0 4px 4px;
  box-shadow: 0 4px 12px $pivotalGray;
  top: 55px;
  width: 60vw;
  right: 10px;
  z-index: 1;
  display: flex;
  flex-direction: column;
}

.main-nav-dropdown > ul li {
  overflow: hidden;
  height: 0;
  transition: height 100ms linear 250ms;
  text-align: right;
}

.main-nav-dropdown:hover > ul li {
  height: 35px;
  font-size: 14px;
  text-align: left;
  line-height: 35px;
  margin: 8px 12px 8px 8px;
  padding-right: 8px;
  text-align: right;
}

.main-nav-dropdown > ul li:hover {
  background-color: #c3d4e5;
  border-radius: 4px;
  color: $pivotalBlue; 
  margin: 8px 12px 8px 8px;
  padding-right: 8px;
  text-align: right;
}

//Hamburger menu

// Media Queries

@media (min-width: 992px) {
  .menu-md {
    display: none;
  }
  .menu-lg {
    display: block;
  }

  .main-nav-dropdown > ul {
    left: -16px;
    top: 51px;
    width: 192px;
  }

  .main-nav-dropdown:hover > ul li {
    text-align: left;
  }

  .main-nav-dropdown > ul li {
    line-height: 20px;
    text-align: left;
    vertical-align: center;
  }

  // .main-nav-dropdown > ul li:hover {
  //   text-align: left;
  // }
}