// Hero banner
.hero {
  background-image: image_url("marketing/icon-explosion.svg");
  background-position: center center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.hero .page-container {
  margin-top: 200px;
  margin-bottom: 40px;
}

.hero-heading {
  flex: 50%;
  text-align: left;
}

// Sign Up On Home Page
.signup-form-home-container {
  flex: 50%;
  height: 100%;
} 

.signup-form-home-box {
  vertical-align: bottom;
  background-color: $pivotalBlue;
  border: 3px solid $pivotalOrange;
  box-shadow: 0 0 4px 2px rgba(4,4,4,0.15);
  border-radius: 3px;
  text-align: left;
  padding: 32px 24px;
  margin-bottom: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.signup-form-home-box h2 {
  font-size: 1rem;
  color: white;
}

.signup-form-home-container > h2 {
  font-size: 22px;
  margin-bottom: 8px;
}

.signup-form-home {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.signup-form-home > label {
  font-size: 16px;
  font-weight: bold;
  color: #4a4a4a;
  flex: 100%;
  margin-bottom: 8px;
}

.signup-form-home > input:last-child {
  background-color:$pivotalBlue;
  border-color: $pivotalBlue;
  border-style: solid;
  font-size: 16px;
  color: white;
  border-radius: 2px;
  cursor: pointer;
  font-weight: 400;
  line-height: 1.5;
  padding: 8px 16px;
}

// Info fields

.info-text > h3 {
  color: #242424;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  margin: 0 0 16px;
}

.info-text > p {
  color: #4a4a4a;
  font-size: 16px;
  line-height: 24px;
  margin: 0 0 24px;
}

.info-text > p > strong {
  font-weight: bold;
}
.info {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  margin-left: -0.5rem;
  margin-right: -0.5rem;
}

.info-image, .info-text {
  flex: 50%;
}

h2.banner-msg {
  font-size: 28px;
  font-weight: 600;
  line-height: 36px;
  font-weight: 600;
  margin: 0 0 8px;
}

h3.banner-msg {
  font-size: 20px;
  font-weight: 300;
  line-height: 30px;
  margin: 0 0 24px;
}

.page-container {
  margin: 0 auto;
  width: 85%;
}

.section-md {
  margin-bottom: 24px;
}

.text-box {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
  flex-wrap: wrap;
}

.text-box-btn {
  background-color: #ffffff;
  border: 1px solid $pivotalBlue;
  color: $pivotalBlue;
  display: inline-flex;
  justify-content: space-between;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  padding: 8px;
  transition: background-color 200ms, color 200ms, border-color 200ms;
}
  .arrow-btn {
    display: none;
  }

.text-box-btn:hover {
  text-decoration: none;
  background-color: #edf2f7;
  color: $pivotalBlue;
}

.demo-login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.demo-login-btn {
  font-size: 16px;
  line-height: 24px;
}

// Media Queries

@media screen and (max-width: 592px) {
  .info-image {
    order: 1;
  }
  
  .info {
    flex-direction: column;
  }
}

@media screen and (min-width: 992px) {
  h1 {
    font-size: 32px;
    line-height: 40px;
    text-align: center;
  }

  .signup-form-home-box {
    margin-left: 64px;
  }

  .signup-form-home-box h2 {
    font-size: 1.75rem;
  }

  h2.banner-msg {
    font-size: 32px;
    line-height: 40px;
    text-align: center;
  }

  h3.banner-msg {
    font-size: 24px;
    line-height: 32px;
    margin: 0 auto 48px;
    text-align: center;
  }

  .info .info__image {
  max-height: 330px;
  }
  .page-container {
  width: 960px;
  }
  .section-md {
    margin-bottom: 40px;
  }
  .hero .page-container {
    margin-top: 180px;
    margin-bottom: 120px;
  }
  .hero {
    height: 538px;
    text-align: center;
  }

  .text-box-btn {
    font-size: 24px;
    line-height: 32px;
  }

  .arrow-btn {
    display: block;
    line-height: 32px;
    margin-left: 4px;
    padding: 4 0;
  }

  .demo-login-btn {
    margin-top: 16px;
    font-size: 24px;
    line-height: 32px;
  }
}

