a.global-banner span {
  font-weight: normal;
}

a.global-banner {
  display: block;
  padding: 10px 0;
  color: white;
  text-align: center;
  background: #5081b2;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
}

a.global-banner:hover {
  color: white;
  background: #286287;
}

.main-nav {
  background-color: white;
  border-bottom: 1px solid #c3d4e5;
  display: flex;
  justify-content: center;
}

.main-nav-container {
  display:flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 16px;
  padding-top: 16px;
  height: 33px;
}

.main-nav-container .logo {
  width: 210px;
}

.header-link {
  font-size: 14px;
  padding: 4px 8px;
  margin-left: 24px;
  position: relative;
}

.header-link:last-child {
  margin-left: 8px; 
  margin-right: 0px;
}

@media (min-width: 992px) {
  .header-link {
    margin-left: 24px;
  }
}