// Work in progress elements will neeed to be adjusted later
.work-in-progress {
  color: white;
  width: 370px;
  height: 140px;
  vertical-align: bottom;
  background-color: grey;
  box-shadow: 0 0 4px 2px rgba(4,4,4,0.15);
  border-radius: 3px;
  text-align: left;
  padding: 32px 24px
} 

// Work in progress elements will neeed to be adjusted later

.hero {
  background-image: image_url("icon-explosion.svg");
  background-position: center center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-heading {
  max-width: 480px;
  text-align: left;
}

.info {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-left: -0.5rem;
  margin-right: -0.5rem;
}

.hero-heading .work-in-progress .info-image .info-text {
  box-sizing: border-box;
  flex-basis: 50%;
  max-width: 50%;
}

h2.banner-msg {
  font-size: 32px;
  line-height: 40px;
  text-align: center;
  font-weight: 600;
  margin: 0 0 8px;
}

h3.banner-msg {
  font-size: 24px;
  line-height: 32px;
  margin: 0 auto 48px;
  text-align: center;
  font-weight: 300;
}

/* Media Queries */
@media (max-width: 320px) {
  .work-in-progress {
    margin-top: 16px;
  }
}

@media (min-width: 592px) {
  .work-in-progress {
    margin-top: 16px;
  }
}

@media (min-width: 992px) {
  .work-in-progress {
    margin-left: 64px;
  }

  h3.banner-msg {
    font-size: 24px;
    line-height: 32px;
    margin: 0 auto 48px;
    text-align: center;
  }
}