.create-project-form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: $lightestGray;
  border-radius: 4px;
  width: 545px;
}

.create-project-form > h1 {
  line-height: 36px;
  font-size: 22px;
  font-weight: normal;
  border-bottom: 1px solid $lightGray;
  background-color: white;
  text-align: left;
  padding: 12px 23px;
  border-radius: 4px;
  color: $darkestGray;
}

.create-project-form > label, .create-project-form > .account-select {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}

.create-project-form .account-select span:last-child {
  font-size: 14px;
  font-weight: normal;
  line-height: 14px;
  padding: 8px 16px;
  width: 100%;
  outline: 0;
  box-sizing: border-box;
  margin-bottom: 24px;
  margin-top: 8px;
  border-radius: 3px;
  border: 1px solid $lightGray;
  background: white;
  color: $darkestGray;
  background: $lightGray;
}

.create-project-form .form-input-label {
  line-height: 24px;
  font-size: 12px;
  font-weight: 600;
  color: $darkGray;
}

.create-project-form .form-input-field {
  background-color: white;
  font-size: 14px;
  line-height: 14px;
  padding: 8px 16px;
  font-weight: normal;
}

.modal-form-footer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  background-color: white;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-top: 1px solid $lightGray;
}