.stories-list {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 100%;
}

.story-preview-closed {
  background-color: $storyBackgroundYellow;
  color: black;
  width: 100%;
  // margin-top: 0.25rem;
  margin-bottom: 0.25rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.story-preview-closed:hover {
  cursor: all-scroll;
}

.story-preview-closed > div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 1rem;
}

.story-preview-closed > div > div {
  margin: 0 0.5rem 0rem 0;
}

.story-preview-edit-form {
  background-color: #e9e8e0;
  width: 100%;
  // margin-top: 0.25rem;
  margin-bottom: 0.25rem;
  max-height: 40vh;
  overflow: scroll;
}

.story-preview-edit-form:first-child {
  margin-top: 0;
}

/* input and textarea styling */
.story-text-field-wrapper {
  display: flex;
  flex-direction: column;
}

.story-text-field label {
  color: black;
  font-weight: 900;
  font-size: .75rem;
}

.story-text-field label {
  margin: 0.75rem 0.25rem 0.5rem 0.3rem;
}

.story-text-field input, .story-text-field textarea {
  background-color: white;
  border-radius: 0.2rem;
  margin: 0.25rem;
  border: 0.1rem $lightGray solid;
  min-height: 2rem;
  padding: 0.25rem;
  color: black;
}

.story-text-field input::placeholder {
  color: $pivotalGray;
}

.story-name {
  font-size: 1.25rem;
} 

/* infobox styling for story-type, story-owner, story-state dropdowns */

.story-info-box-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.story-info-box-wrapper label {
  color: $pivotalGray;
  font-size: 0.75rem;
  margin-right: 0.25rem;
}

.story-info-box {
  background-color: white;
  margin-left: 0.25rem;
}

.story-info-box-row {
  display: block;
  height: 28px;
  line-height: 28px;
  padding: 0 9px;
  border-left: $lightGray solid 0.1rem;
  border-right: $lightGray solid 0.1rem;
  border-top: $lightGray solid 0.1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.story-info-box-row:first-child {
  border-top-left-radius: 0.2rem;
  border-top-right-radius: 0.2rem;
}

.story-info-box-row:last-child {
  border-bottom: $lightGray solid 0.1rem;
}

.story-info-box-row i {
  margin: 0 0.3rem 0 0;
}

.story-info-box-row {
  border-bottom-left-radius: 0.1rem;
  border-bottom-right-radius: 0.1rem;
}

.story-preview-edit-form .fa-star, .story-preview-closed .fa-star {
  color: $featureIconGold;
}

.story-preview-edit-form .fa-bug, .story-preview-closed .fa-bug {
  color: $bugIconRed;
}

.story-preview-edit-form .fa-cog, .story-preview-closed .fa-cog {
  color: $choreIconGray;
}

#story-state-box {
  background-color: white;
  margin-right: 0.25rem;
  display: block;
  height: 28px;
  line-height: 28px;
  padding: 0 9px;
  border: $lightGray solid 0.1rem;
  border-radius: 0.2rem;
}

.requester {
  color: black;
}

/* story form action */
.story-form-actions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.story-form-actions > div:last-child {
  margin-right: 0.1rem;
}
